.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar-search-icon {
  position: relative;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar li {
  cursor: pointer;
}
.navbar-search-icon {
  position: relative;
}
.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: tomato;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search-icon .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;
  top: -8px;
  right: -8px;
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-profile {
  position: relative;
  cursor: pointer;
}

.nav-profile-dropdown {
  position: absolute;
  right: 0;
  display: none;
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown img {
  width: 20px;
  cursor: pointer;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

.navbar-search {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 6px 10px;
  border-radius: 30px;
  gap: 8px;
}

.navbar-search input {
  border: none;
  outline: none;
  background: transparent;
  width: 140px;
  font-size: 14px;
}

.navbar-search img {
  width: 18px;
  height: 18px;
}
